@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #46A358;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}